body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 6em;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  color: #024249;
  position: relative;
}

h2 {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  color: #024249;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #024249;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.top-par {
  font-size: 2.5em;
  font-family: 'Lobster', cursive;
  color: #024249;
}

.top-container {
  background-color: #aee1e1;
  position: relative;
  padding-top: 100px;
}

.baloon {
  position: absolute;
  max-height: 40%;
  left: 40px;
  top: 100px;
}

.cloud {
  position: absolute;
  max-height: 40%;
  top: 10px;
  right: 10px;
}

.mounty {
  padding-top: 150px;
  max-width: 100%;

}
.bottom-container {
  color: #024249;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.work-img {
  float: left;
  width: 25%;
  margin-right: 30px;
}
.game-img {
  float: right;
  width: 25%;
  margin-left: 30px;
}
