body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 6em;
  margin-top: 0;
  font-family: 'Dancing Script', cursive;
  color: #024249;
}

p {
  font-size: 2.5em;
  font-family: 'Lobster', cursive;
  color: #024249;;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #aee1e1;
  position: relative;
  padding-top: 100px;
}

.cloud {
  position: absolute;
  max-height: 35%;
  top: 10px;
  right: 10px;

}

.baloon {
  max-height: 40%;
  position: absolute;
  left: 50px;
}

.mounty {
  padding-top: 400px;
  height: auto;
  max-width: 100%;

}
