
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 48;

}
p {
  font-family: 'Lobster', cursive;
}

.top-container {
  background-color: #bee5d6;
  position: relative;
  padding-top: 100px;
}

.cloud {
  position: absolute;
  max-height: 35%;
  top: 10px;
  right: 10px;

}

.baloon {
  max-height: 40%;
  position: absolute;
  left: 50px;
}

.mounty {
  padding-top: 400px;
  height: auto;
  max-width: 100%;

}
